
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html{
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo{
    max-width: 300px;
}

.languajes{
    position: absolute;
    right: 1.5em;
    top: 3em;
}

.languajes-icon {
    background: var(--clr-dark);
    overflow: hidden;
}

.languajes-icon-img{
    width: 30px;
    transition: transform 750ms cubic-bezier(.5,0,.5,1),opacity 250ms linear;      
}

.languajes-icon:focus{
    position: relative;
    z-index: 2;
}

.languajes-icon-img:hover,
.languajes-icon:focus .languajes-icon-img{
    transform: scale(1.2);
    opacity: .5;
}


.nav{
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-accent);
}

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(0);
   
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.625turn);
}

.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{
    opacity: 0;
}

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
   content: '';
   position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{top: 6px;}
.hamburger::after{bottom: 6px;}

/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}



/*  My services section  */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/FrontEnd.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    width: 100%;
    margin-bottom: 4em;
}

/*.service {
    background-color: var(--clr-accent);
    max-width: 500px;
    margin: 0 auto;
}*/

.service{
    display: inline-block;
    width: 100%;
    margin: 10px;
    background: var(--clr-dark);
    border-radius: 6px;
    cursor: pointer;
}

.service h3{
    margin-top:10px;
    font-size: 1.5rem;
    color: var(--clr-accent);
    font-family: var(--ff-primary);
}

  .p-services{
    font-size: 1.2rem;
    color: var(--clr-light);
    font-family: var(--ff-secondary), cursive;
  }

  .p-services:hover {
    animation: glow 1.5s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
    }
    to {
      text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
    }
  }

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }
}


.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

#p-about-me{
    font-size: 1.2rem;
    color: var(--clr-dark);
    font-family: var(--ff-secondary);
    cursor: pointer;
}

#p-about-me:hover{
    animation: glow 1.5s ease-in-out infinite alternate;
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/*Projects*/
.my-projects{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    
    --d:700ms;
    --e:cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "rubik", sans-serif;
    --font-serif: "cardo", serif;

    box-sizing: border-box;

    height: 100%;

    display: grid;
    place-items: center;
}

.page-content{
    background-color: var(--clr-light);
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    font-family: var(--ff-primary);
}

@media (min-width:600px){
    .page-content{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:900px){
    .page-content{
        grid-template-columns: repeat(3,1fr);
    }
}

.card{
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width:600px){
    .card{
        height: 300px;
        width: 400px;
        border-radius: 5px;
    }
}

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d)*1.5) var(--e);
    pointer-events: none;
}

.card:after{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, 
    rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, 
    rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d)*2) var(--e);
}

.card:nth-child(1)::before{
    background: url(../img/PassangerApp.png);
	background-position: center 0;
	/*background-repeat: no-repeat;*/
	/*background-attachment: fixed;*/
	background-size: contain;
}


.card:nth-child(2)::before{
    background-image: url(../img/MyTunes-landingPage.png);
    background-position: center 0;
	background-size: contain;
}

.card:nth-child(3)::before{
    background-image: url(../img/TributePage-CaroNono.png);
    background-position: center 0;
    background-size: contain;
}





.content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.title-project{
    font-family: var(--ff-primary);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
}

.des-project{
    font-family: var(--ff-secondary);
    font-size: 1.rem;
    font-style: italic;
    line-height: 1.35; 
}

.btn-project{
    text-decoration: none;
    margin-top: 1.5rem;
    padding: 0.75rem 2.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: #111;
    background-color: #fff;
    border: none;
   /* transition: transform 200ms ease-in-out;*/
    
}

.btn-project:hover {
    background-color: rgb(29, 26, 26);
    color: #fff;
    /*transform: scale(1.1);*/
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.btn-project:focus {
    outline: 1px dashed var(--clr-accent);
    outline-offset: 3px;
}

.content {
    /*transform: translateY(calc(130% - 4.5rem));*/
    transform: translateY(calc(100% - 4.5rem));
}

.content>* {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.card:hover {
    align-items: center;
}

.card:hover:before {
    background: var(--clr-dark);
}

.card:hover:after {
    transform: translateY(-50%);
}

.card:hover .content {
    transform: translateY(0);
}

.card:hover .content>* {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
}


/* 

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;    
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    width:  500px;
    height: 300px;
    transition: transform 750ms cubic-bezier(.5,0,.5,1),opacity 250ms linear;      
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}

*/

/*  Footer*/

.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5 0;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link{
    /*font-size: var(--fs-h3);*/
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover{
    opacity: .7;
}

.footer__link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin:2em 0 0;
    padding: 0;
}

.social-list__item{
    margin:0 .5em;
}

.social-list__link{
    padding: .5em;
}







